#HTMLWikiheader {
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
}

#HTMLWikiheader #HTMLWikiheader-content {
    margin: 10px;
    color: #C0C0C0;
}

a.HTMLWikiLink {
	color: #C0C0C0;
}